$newline;black;default
;red;default
$os;black;red
$space;default;red
$user;black;red
;red;peach
$space;black;peach
$cwd;black;peach
$space;default;peach
;peach;green
?rust
$space;black;green
$rust;black;green
$space;black;green
?
;green;blue
$space;default;blue
;black;blue
$space;black;blue
$time;black;blue
$space;default;blue
;blue;default
$space;black;default
❯;green;default;bold
$space;black;default
